.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
  height: 100vh;
}

.imagesWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  gap: 30px;
}

.image {
  object-fit: cover;
  cursor: grab;
}
