.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
  height: 100vh;
}

.imagesWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  gap: 30px;
}

.image {
  object-fit: cover;
  cursor: grab;
}

.dots {
  display: none;
}

.sortPhoto {
  display: flex;
  gap: 5px;

  &:active {
    .dots {
      display: block;
    }
  }
  &:hover {
    .dots {
      display: block;
    }
  }
}
